@font-face {
    font-family: "DosisBold";
    src: url("../fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "DosisExtraBold";
    src: url("../fonts/Dosis-ExtraBold.ttf");
}

@font-face {
    font-family: "DosisExtraLight";
    src: url("../fonts/Dosis-ExtraLight.ttf");
}

@font-face {
    font-family: "DosisLight";
    src: url("../fonts/Dosis-Light.ttf");
}

@font-face {
    font-family: "DosisMedium";
    src: url("../fonts/Dosis-Medium.ttf");
}

@font-face {
    font-family: "DosisRegular";
    src: url("../fonts/Dosis-Regular.ttf");
}


@font-face {
    font-family: "DosisSemiBold";
    src: url("../fonts/Dosis-SemiBold.ttf");
}

.bold{
    font-family: "DosisBold";
}

.regular{
    font-family: "DosisRegular";
}


body{
    background-image: url('../img/Inicio-07.png');
    background-repeat: repeat;
    background-size: contain
}

#logo{
    height: 200px;
    width: 190px;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#banner{
    width:990px;
    height:420px;
}


.boton{
    width:240px; 
    height:46px; 
    border-radius:15px; 
    background-color: #455819
}

.boton:hover{
    background-color: #81a356;
}

#depresin{ 
    width: 125px;
    height: 160px;
}

#mesatrabajo{
    background-image: url('../img/Sintítulo-1_Mesadetrabajo1.png');
    background-size: 380px 260px;
    background-repeat: no-repeat;
    
    
}

#mujer{
    width: 140px;
    height: 170px;
}

#charlas-talleres{
    background-image: url('../img/Sin-título-1-02.png');
    background-size: 360px 260px;
    background-repeat: no-repeat;

}

#consulta-psicologica{
    background-image: url('../img/sin-título-1-03.png');
    background-repeat: no-repeat;
    background-size: 390px 280px;
    
}

#bolsa-papel{
    width: 125px;
    height: 160px;
}

#mujer-donacion{
    width: 140px;
    height: 140px;
}

#donaciones{
    background-image: url('../img/sin-título-1-03.png');
    background-repeat: no-repeat;
    background-size: 390px 280px;
}

#red-social
{
    background-image: url('../img/sin-título-1-03.png');
    background-repeat: no-repeat;
    background-size: 390px 280px;

}

#img-red-social{
    width: 330px;
    height: 180px;
}

@media (min-width:991px){
    .auto{
        display: none;
    }
}






