@font-face {
    font-family: "DosisBold";
    src: url("../fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "DosisExtraBold";
    src: url("../fonts/Dosis-ExtraBold.ttf");
}

@font-face {
    font-family: "DosisExtraLight";
    src: url("../fonts/Dosis-ExtraLight.ttf");
}

@font-face {
    font-family: "DosisLight";
    src: url("../fonts/Dosis-Light.ttf");
}

@font-face {
    font-family: "DosisMedium";
    src: url("../fonts/Dosis-Medium.ttf");
}

@font-face {
    font-family: "DosisRegular";
    src: url("../fonts/Dosis-Regular.ttf");
}


@font-face {
    font-family: "DosisSemiBold";
    src: url("../fonts/Dosis-SemiBold.ttf");
}

.bold{
    font-family: "DosisBold";
}

.regular{
    font-family: "DosisRegular";
}


body{
    background-image: url('../img/test/fondo.png');
    background-repeat: repeat;
    background-size: contain
}

#logo{
    height: 200px;
    width: 190px;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#banner{
    width:990px;
    height:420px;
}


.boton{
    width:240px; 
    height:46px; 
    border-radius:15px; 
    background-color: #0F2332
}

.boton:hover{
    background-color: #224F71;
}

#logo-fundacion{
    width: 240px;
    height: 190px;
}

.botoncito{
    width:240px; 
    height:46px; 
    border-radius:15px; 
    background-color: #0F2332
}

.botonCuestionario{
    width:200px; 
    height:46px; 
    border-radius:15px; 
    background-color: #16134A;
}

#presentacion-cuestionario{
    background-image: url('../img/test/test-13.png');
    background-size: 555px 210px;
    background-repeat: no-repeat;
}

#bolsa-cuestionario-inicio{
    width: 90px;
    height: 120px;
}


#pregunta1{
    background-image: url('../img/test/test-04.png');
    background-repeat: no-repeat;
    background-size: 290px 325px;
}

#mujer1{
    width: 100px;
    height: 100px;
}

#pregunta2{
    
}

#pregunta3{
    
}

#pregunta4{
    
}

#pregunta5{
    
}

#pregunta6{
    
}

#pregunta7{
    
}

#pregunta8{
    
}

#pregunta9{
    
}

#pregunta10{
    
}

#pregunta11{
    
}

#pregunta12{
    
}

@media (min-width:991px){
    .auto{
        display: none;
    }
}






